$fontText1: "Montserrat Alternates", sans-serif;
$fontText2:"Urbanist", sans-serif;

//colores corporativos
$colorFont: #E5EAF5;
$colorFont2: #D0BDF4;
$colorFont3: #8458B3;
$colorFont4: #494D5F;
$colorFont5: #A0D2EB;

//Otros colores

$olive-green: #225b69;
$pale-pink: #e2dbe8;
$magenta: #31e1f8;
$pink: #cc899e;
$maroon: #5f3844;