$fontText1: "Montserrat Alternates", sans-serif;
$fontText2:"Urbanist", sans-serif;
$fontText3: "Urbanist", sans-serif;

/*$colorLink1: #A0D2EB; */

$colorFont: #E5EAF5;
$colorFont2: #D0BDF4;
$colorFont3: #8458B3;
$colorFont4: #494D5F;
$colorFont5: #A0D2EB;


