.derecha {
    padding: 50px;
}

.js-preview {
    display: flex;
    margin: 0;
}

.totoro-image {
    max-width: 50%;
    height: auto;
}

.container-preview {
    width: 300px;
    height: 373px;
    border: 4px double $colorFont2;
    padding: 10px;
    margin-top: 20px;
    background-color: $colorFont3;
    color: $colorFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Asegura que el contenido esté centrado verticalmente */
    margin: 20px auto;
    /* Centra el div horizontalmente */
    font-family: $fontText1;
}

.button-reset {
    margin-top: 150px;
}

.btn-rst {
    background-color: $colorFont3;
    color: $colorFont;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    font-family: $fontText1;
}