.share {
    font-family: $fontText1;
    color: $colorFont4;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    margin-left: 10px;
    

}

.fieldset-card {
    font-family: $fontText1;
    border: 1px solid $colorFont4;
    border-radius: 10px;
    padding: 10px;
    border: none;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    &_button {
        font-family: $fontText1;
        padding: 15px;
        font-size: 15px;
        border: none;
        border-radius: 7px;
        background-color: $colorFont3;
        color: $colorFont;
        transition-duration: 2s;
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (min-width:768px){
            padding: 17px;
            font-size: 17px;
        }

        &:hover {
            color: $colorFont4;
            background-color: $colorFont2;
            transform: scale(1.2);

        }

        &_icon1 {
            width: 20px;
            margin-right: 5px;

        }
    }

}

.js-btn-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.button_twitter {
    font-family: $fontText1;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    background-color: $colorFont3;
    color: $colorFont;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

    &:hover {
        color: $colorFont4;
        background-color: $colorFont2;
    }

    &_icon2 {
        width: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }

}

.div-provisional {
    margin: 2%;

}