// @media (min-width: 1000px) {
//   .padre {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//   }
// }

.page-form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $colorFont2;
 
}

.form-general {
  width: 100%;

  background-color: $colorFont;
  @media (min-width: 768px) and (min-width: 1024px) {
    width: 70vw;
    display: flex;
    justify-content: row;
    .form-L,
    .form-R {
      width: 50%;
    }
    .form-R {
      background-color: $colorFont;
    }
  }
}

.body-formulario {
  height: 100vh;
}
