

// @media (min-width: 1000px) {
//   .padre {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//   }
// }
.form-general {
    width: 100%;
    display: block;
    background-color: $colorFont;
  
    @media (min-width: 768px) and (min-width: 1024px) {
      width: 50vw;
      display: flex;
      flex-direction: row;
      .form-L,.form-R {
          width: 50%;
          box-sizing: border-box;
        }
      .form-R {
        background-color: $colorFont2 
       }
    }
}

