.share {
    font-family: 'Times New Roman', Times, serif ;
    font-size: 12px;

}

.button-card {
    font-size: 12px ;
    border: none;
    background-color: blue;
    color: beige;
    padding: 5px;
}

.button-twitter {
    font-size: 12px;
    border: none;
    background-color: blue;
    color: beige;
    padding: 5px;

}