.derecha {
  padding: 50px;
}

.js-preview {
  display: flex;
  margin: 0;
}

.totoro-image {
  max-width: 50%;
  height: auto;
}

.container-preview {
  width: 300px;
  height: 373px;
  border: 4px double $colorFont2;
  padding: 10px;
  margin-top: 20px;
  background-color: $colorFont3;
  // color: $colorFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Asegura que el contenido esté centrado verticalmente */
  margin: 20px auto;
  /* Centra el div horizontalmente */
  font-family: $fontText1;
}

.button-reset {
  margin-top: 150px;
}

.defoultimage {
  background-image: url("./public/images/Gojo.jpeg");
}

.card-design {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  font-size: 20px;
}

.criatura {
  font-weight: bold;
}

.tunombre {
  font-size: 30px;
  font-weight: bold;
  font-family: $fontText2;
}
//Paletas para el js

.palette-preview-one {
  background-color: $olive-green;

  .title {
    color: $pale-pink;
  }

  .card-design {
    color: $magenta;
  }
}

.palette-preview-two {
  background-color: $colorFont5;

  .title {
    color: $colorFont4;
  }

  .card-design {
    color: $colorFont3;
  }
}

.palette-preview-three {
  background-color: $pale-pink;

  .title {
    color: $pink;
  }

  .card-design {
    color: $maroon;
  }
}
