.form-skills,
.form-design,
.title-design {
  display: flex;
  gap: 20px;
  border: none;
  outline: none;
}


.cc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skillsDiv {
  display: flex;
  flex-direction: column;
}

.js-btn-rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.custom-select {
  font-family: $fontText1;
  background-color: $colorFont3;
  color: $colorFont;
}
