.form-design {
  color: $colorFont4;
  font-family: $fontText1;
}

fieldset {
  border: 1px solid $colorFont4; /* Cambia el color del borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}
.form-titles {
  font-size: 20px;
}

input[type="radio"] {
  accent-color: $colorFont3;
}

input {
  background-color: $colorFont3;
  color: $colorFont;
}

.form-design-background label {
  display: flex;
  gap: 10px;
}
.colors{
  display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 15px;
}
//paleta uno

.paletteOne, .paletteTwo, .paletteThree {
  display: flex;
}

.paletteOne-one {
  background-color: violet;
  width: 15px;
  height: 15px;
}
.paletteOne-two {
  background-color: burlywood;
  width: 15px;
  height: 15px;
}
.paletteOne-three {
  background-color: rgb(107, 106, 56);
  width: 15px;
  height: 15px;
}

//paleta dos

.paletteTwo-one {
  background-color: rgb(80, 199, 238);
  width: 15px;
  height: 15px;
}
.paletteTwo-two {
  background-color: rgb(137, 35, 205);
  width: 15px;
  height: 15px;
}
.paletteTwo-three {
  background-color: rgb(70, 67, 67);
  width: 15px;
  height: 15px;
}
//paleta tres

.paletteThree-one {
  background-color: rgb(5, 183, 242);
  width: 15px;
  height: 15px;
}
.paletteThree-two {
  background-color: rgb(212, 147, 56);
  width: 15px;
  height: 15px;
}
.paletteThree-three {
  background-color: rgb(31, 31, 31);
  width: 15px;
  height: 15px;
}
.archive{
  font-size: smaller;

}