body,
html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    /* Asegura que el contenedor ocupe toda la altura */
}

.container {
    display: flex;
    /* Crea un contenedor flexible */
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
}

.container-form {
    flex: 1;
    /* Ocupa el 50% del ancho */
    padding: 20px;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    background-color: $colorFont2;
    /* Color de fondo para el formulario */

}

.derecha {
    flex: 1;
    /* Ocupa el 50% del ancho */
    padding: 20px;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    background-color: #e0e0e0;
    /* Color de fondo para la columna derecha */
    border: 2px solid #3498db;
    /* Grosor, estilo y color del borde */
    padding: 20px;
    /* Espacio interno */
    margin: 20px;
    /* Espacio externo */
    height: 100%;
    border-radius: 5px;
    /* Bordes redondeados (opcional) */
    border: 2px solid #3498db;
    /* Grosor, estilo y color del borde */

}