.header {
    background-color: $colorFont5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-left: 22px;
    position: sticky;
    top: 0;
}

.logo-cabecera {
    width: 85px;
    margin-right: 10px
}

.texto-cabecera {
    font-size: 45px;
    width: 162px;
    padding-left: 30px;
    color: $colorFont;
    font-family: $fontText1;
    font-weight: 700;
    padding-bottom:  50px;

    
}