.img-landing {
    text-align: center;
    background: $colorFont5;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;

}

.cat-play {
    width: 100%;
    height: auto;


}

.text-landing {
    color: $colorFont3;
    box-shadow: #494D5F;
    font-size: 20px;
    padding-bottom: 10px;


}

.button-landing {
    display: flex;
    justify-content: center;
    background: $colorFont5;


}

.button-empezar {
    background-color: #8458B3;
    color: $colorFont;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.button-empezar:hover {
    background-color: #D0BDF4;
    transform: scale(1.05);
    color: $colorFont4;
}

@media (min-width:768px) {
    .img-landing {
        display: flex;
        text-align: center;
        width: 100%;
    }

    .container {
        display: flex;
        align-items: center;

    }
}

@media (min-width:1024px) {
    .img-landing {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        align-items: center;

    }

    .button-empezar {
        display: flex;
        margin: 25px;
        margin-top: 219px;
    }

    .text-landing {
        display: flex;
        font-size: 32px;

    }

    .cat-play {
        width: 30vw;
        height: 50vh;
    }

}