<footer class="footer">
    <section class="rrss icons">

        <a href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a>

        <a href="https://adalab.es/" target="_blank">
            <i class="fa-duotone fa-solid fa-x"></i>
        </a>
        <a href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-pinterest-p"></i>
        </a>
        
        <a href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>

        <a href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </section>

    <section class="copiright icons">
        <i class="fa-solid fa-copyright"></i>
        <a class="copy" href="../index.html">PURR Skills, 2024</a>
        <i class="fa-solid fa-cat"></i>
    </section>
</footer>
