<div class="derecha">
        <div class="button-reset">
                <button type="submit"><a href="form.html">Respawn</button></a>
        </div>
        <div class="container-preview">
                <p class="title js-preview"> Aquí va tu Nombre</p>
                <div class="profile__image js__profile-image"
                        style="background-image:url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE)">
                </div>
                <p class="js-skill">Aquí va tu Rol</p>
                <p class="js-creature">Aquí va tu Criatura</p>
                <p class="js-class">Aquí va tu clase</p>
                <p class="js-special">Mana inicial</p>


        </div>

</div>


<!--  <img class="totoro-image js__profile-preview js__profile-image" src="/images/Gojo.jpeg" alt="foto por defecto">-->