<div class="container">
    <div class="container-form">
        <form class="form-design" action="" method="POST">
            <fieldset class="form-fieldset">
                <h1>Diseña</h1>
                <fieldset class="form-design-name">
                    <label class="form-titles" for="nombre">Nombre:</label>
                    <input class="js-name" type="text" id="nombre" name="nombre" required>
                </fieldset>
                <fieldset class="form-design-blackground">
                    <label class="form-titles" for="option">Elige un color de fondo:</label><br><br>
                    <label for="blanco">Blanco</label>
                    <input id="blanco" type="radio" name="background"><br>

                    <label for="gris-claro">Gris claro</label>
                    <input id="gris-claro" type="radio" name="background"><br>

                    <label for="amarillo-pastel">Amarillo pastel</label>
                    <input id="amarillo-pastel" type="radio" name="background"><br>

                    <label for="azul-claro">Azul claro</label>
                    <input id="azul-claro" type="radio" name="background"><br>

                    <label for="morado-claro">Morado claro</label>
                    <input id="morado-claro" type="radio" name="background"><br>
                </fieldset>

                <fieldset class="form-design-font">
                    <p class="form-titles">Elige un color de fuente:</p> <br>
                    <label for="negro">Negro</label>
                    <input id="negro" type="radio" name="font"><br>

                    <label for="blanco">Blanco</label>
                    <input id="blanco" type="radio" name="font"><br>

                    <label for="gris">Gris</label>
                    <input id="gris" type="radio" name="font"><br>

                    <label for="morado-claro">Morado claro</label>
                    <input id="morado-claro" type="radio" name="font"><br>

                    <label for="morado">Morado</label>
                    <input id="morado" type="radio" name="font"><br>
                </fieldset>
                <fieldset class="form-design-img">
                    <label class="form-titles" for="">Añade tu imagen</label><br><br>
                    <input type="file" accept="image/png,image/jpeg">
                </fieldset>
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </div>
    <div class="derecha">
        <div class="container-preview">
            <p class="title js-preview"> Aquí va tu nombre</p>
            <img class="totoro-image" src="/images/totoro.png" alt="Totoro">
        </div>
    </div>
</div>