<div class="title-design form-design js-container ">
    <div class="iconoform">
        <i class="fa-solid fa-dungeon iconoform2"></i>
        <h2>Comparte IRL</h2>
    </div>
    <span class="fa-solid fa-chevron-down js-btn-add-sh "></span>
</div>
<section class="js-collapsed-sh">
    <fieldset class="fieldset-card ">
        <div class="card">
            <div>
                <a class="card_button js-button-card" href="./card.html" target="_blank">

                    <i class="fa-regular fa-id-card card_button_icon1"></i>

                    CREAR TARJETA
                </a>

            </div>

            <div class="div-provisional">
                <p class="js-card-created"></p>
                <p></p>
            </div>

            <div class="js-share-x collapsed">
                <a
                    href="https://twitter.com/intent/tweet?text=My%20character%20sheet%20by%20PURR~SKILLS%20 ฅ•ω•ฅ &hashtags=purrskills,rol,fichapersonaje,sheet,fy😻q">
                    <button class="button_twitter twitter-share-button">
                        Compartir en
                        <img class="button_twitter_icon2" src="/images/square-x-twitter-brands-solid.svg"
                            alt="twitter icon">
                    </button>
                </a>


            </div>

        </div>
    </fieldset>


</section>