<form action="" method="POST">
    <fieldset>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="option">Elige un color de fondo:</label>
        <select id="option" name="option">
            <option value="">--Selecciona un color--</option>
            <!-- Colores para el background -->
            <option type="checkbox" value="">rosa</option>
            <option value="">amarillo</option>
            <option value="">verde</option>
            <option value="">morado</option>
            <!-- colores fuente -->
            <label for="option">Elige un color de fuente:</label>
            <select id="option" name="option">
                <option value="">--Selecciona un color--</option>
                <option value="">negro</option>
                <option value="">blanco</option>
                <option value="">morado</option>
                <option value="">celeste</option>

                <!-- Añadir imagen -->

</form>