<div class="derecha">
        <div class="button-reset">
                <button type="submit"><a href="form.html">Respawn</a></button>
        </div>
        <div class="container-preview">
                <p class="title js-preview tunombre"> Nombre</p>
                <div class="profile__image js__profile-image defoultimage">
                </div>
                <div class="card-design">
                        <div>
                                <p class="js-creature criatura">Criatura</p>
                                <p class="js-skill rol">Rol</p>

                        </div>
                        <div>
                                <p class="js-class clase">Clase</p>
                                <p class="js-special mana">Mana</p>
                        </div>
                </div>
        </div>


</div>

</div>
