<div class="title-design form-design ">
    <div class="iconoform">
        <i class="fa-solid fa-dungeon iconoform2"></i>
        <h2>Comparte IRL</h2>
    </div>
    <span class="fa-solid fa-chevron-down js-btn-add-sh "></span>
</div>
<section class="js-collapsed-sh">
    <fieldset class="fieldset-card ">
        <div class="card">
            <div>
                <button class="card_button js-button-card">
                    <img class="card_button_icon1" src="/images/id-card-regular.svg" alt="icon card">
                    CREAR TARJETA
                </button>
            </div>
            <div class="div-provisional">
                <p class="js-card-created"></p>
                <p></p>
            </div>

            <div class="js-share-x collapsed">
                <a href="https://adalab.es/">
                    <button class="button_twitter">
                        Compartir en
                        <img class="button_twitter_icon2" src="/images/square-x-twitter-brands-solid.svg"
                            alt="twitter icon">
                    </button>
                </a>


            </div>

        </div>
    </fieldset>


</section>