<div class="share"> Comparte </div>
<fieldset class="fieldset-card">
    <div class="card">
        <div>
            <button class="card_button">
                <img class="card_button_icon1" src="/images/id-card-regular.svg" alt="icon card">
                CREAR TARJETA
            </button>
        </div>

        <div class="div-provisional">
            <p>La tarjeta ha sido creada:</p>
            <p> Enlace que aparece https </p>
        </div>

        <div>
            <button class="button_twitter">
                <a href="https://adalab.es/">
                    <img class="button_twitter_icon2" src="/images/square-x-twitter-brands-solid.svg"
                        alt="twitter icon"> </a>
                Compartir en twitter

            </button>
        </div>

    </div>
</fieldset>