<form action="" method="POST">
    <fieldset>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>
        <label for="option">Elige una opción:</label>
        <select id="option" name="option">
            <option value="">--Selecciona una opción--</option>
            <!-- Grupo de opciones relacionadas -->
            <optgroup label="Frutas">
                <option value="manzana">Manzana</option>
                <option value="banana">Banana</option>
                <option value="naranja">Naranja</option>
            </optgroup>
            <!-- Otro grupo de opciones relacionadas -->
            <optgroup label="Verduras">
                <option value="lechuga">Lechuga</option>
                <option value="zanahoria">Zanahoria</option>
                <option value="tomate">Tomate</option>
            </optgroup>


    </fieldset>
</form>