<div class="body-div">
    <div class="img-landing">
        <img class="cat-play" src="/images/pc-game.png" alt="gatito jugando">

    </div>
    <div class="button-landing">
        <p class="text-landing"><strong>Bienvenido morador de miau-zmorras, personalize aqui su ficha de personaje y
                tenga
                contento a su game
                miau-aster. Suerte en su aventura. Miau.</strong></p>
        <a href="/form.html">
            <button class="button-empezar">Personaliza</button>
        </a>
    </div>
</div>