<section class="pop-up js-pop-up">

    <button class="close-button js-close-button">Cerrar</button>
    <div class="popuptitle">
        <img src="images/pusheen-no.gif" alt="pusheen con un cartel que dice NO" class="no">
        <div>
            <h3>Respeto tu opinion equipovada, peeeerooooo</h3>
            <p>¿Estas seguro de que estas eligiendo bien la clase? Creo que esa clase no deberia ir con ese Rol, pero
                que sabre yo si soy solo una gata. Miau~~ </p>
        </div>

    </div>
</section>