<div class="title-design form-design ">
    <h2>Skills</h2>
    <span class="fa-solid fa-chevron-down js-btn-add-skill  "></span>
</div>
<section class="js-collapsed-skill">
    <fieldset class="form-design skillsDiv " action="" method="POST">

        <fieldset class="form-skills">
            <div>
                <label class="skills-rol form-titles" for="option"><strong>Rol:</strong></label><br><br>
            </div>
            <div>
                <label for="blanco">Tank</label>
                <input class="js-tank" id="Tank" type="radio" value="Tank" name="background"><br>
            </div>
            <div>
                <label for="Heal">Heal</label>
                <input class="js-heal" id="Tank" type="radio" value="Heal" name="background"><br>
            </div>
            <div>
                <label for="DPS">DPS</label>
                <input class="js-dps" id="Tank" type="radio" value="DPS" name="background"><br>
            </div>
        </fieldset>

        <fieldset class="cc">
            <div>
                <label class="form-titles" for="creatura"><strong>Criatura:</strong></label>
                <select class="js-list-creature custom-select" id="raza" name="raza">
                    <option value="" disabled selected>Selecciona una criatura</option>
                    <option value="Draenei">Draenei</option>
                    <option value="Dragon">Dragon</option>
                    <option value="Elfo">Elfo</option>
                    <option value="Enano">Enano</option>
                    <option value="Ent">Ent</option>
                    <option value="Gnomo">Gnomo</option>
                    <option value="Hada">Hada</option>
                    <option value="Hobbit">Hobbit</option>
                    <option value="Hombre Lobo">Hombre Lobo</option>
                    <option value="Humano">Humano</option>
                    <option value="Mujer Lobo">Mujer Lobo</option>
                    <option value="No-muerto">No-muerto</option>
                    <option value="Orco">Orco</option>
                    <option value="Trol">Trol</option>
                    <option value="Trasgo">Trasgo</option>
                    <option value="Vampiro">Vampiro</option>
                    <option value="Zombie">Zombie</option>
                </select>
            </div>
            <div>
                <label class="form-titles" for="creatura"><strong>Clase:</strong></label>
                <select class="js-list-class custom-select" id="clase" name="clase">
                    <option value="" disabled selected>Selecciona una clase</option>
                    <option value="Brujo">Brujo</option>
                    <option value="Caballero">Caballero</option>
                    <option value="Cazador">Cazador</option>
                    <option value="Clerigo">Clerigo</option>
                    <option value="Druida">Druida</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hechizero">Hechizero</option>
                    <option value="Juglar">Juglar</option>
                    <option value="Ladrón">Ladrón</option>
                    <option value="Mago">Mago</option>
                    <option value="Místico">Místico</option>
                    <option value="Mosquetero">Mosquetero</option>
                    <option value="Paladín">Paladín</option>
                    <option value="Sacerdotisa">Sacerdotisa</option>
                    <option value="Samurai">Samurai</option>
                    <option value="Valquiria">Valquiria</option>
                </select>
            </div>
        </fieldset>


        <fieldset>
            <label class="form-titles" for="numero"> <strong>Mana:</strong></label>
            <input class="js-special-input" type="number" id="numero" name="nombre" required>

        </fieldset>

    </fieldset>



    </fieldset>
</section>